
<div class="panel panel-default">
	<div class="panel-heading">SALES PERFORMANCE</div>
	<div class="panel-body">
		<span class="btn btn-primary pull-right"
			ng-click="linkTo('/newsales/')"> <span
			class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add
		</span>
	</div>
	<div id="table">
	<table class="table table-striped">
		<thead>
			<tr>
				<th colspan="5"><span
					class="col-xs-2 col-ms-2 col-md-2 col-lg-2"><div
							class="form-group">
							<label for="fiscalYear">Fiscal Year</label> <select id="fiscalYear"
								class="form-control" ng-model="selectedFiscalYear"
								ng-options="year for year in years" ng-change="filter()"></select>
						</div> </span></th>
			</tr>
			<tr>
				<th>Model</th>
				<th class="col-xs-2 col-ms-2 col-md-2 col-lg-2 text-center">Q1</th>
				<th class="col-xs-2 col-ms-2 col-md-2 col-lg-2 text-center">Q2</th>
				<th class="col-xs-2 col-ms-2 col-md-2 col-lg-2 text-center">Q3</th>
				<th class="col-xs-2 col-ms-2 col-md-2 col-lg-2 text-center">Q4</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="data in pagedPivotData">
				<td>{{data.name}}</td>
				<td class="text-right">{{data.amount[0]}}</td>
				<td class="text-right">{{data.amount[1]}}</td>
				<td class="text-right">{{data.amount[2]}}</td>
				<td class="text-right">{{data.amount[3]}}</td>
			</tr>
		</tbody>
	</table>
	<div ng-show="totalItems > 0">
    <ul uib-pagination total-items="totalItems" items-per-page="limit" ng-model="currentPage" ng-change="pageChanged()"></ul>
	</div>
	</div>
	<hr/>
	<div id="chart">
		<canvas id="bar" class="chart chart-bar" chart-data="chartData" chart-labels="chartLabels" chart-series="chartSeries"></canvas>
	</div>
</div>

